@model WebApplication2.Models.Entity.TBLPERSONEL

@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<title>Yeni Personel Ekle</title>
<br />
<h2>Yeni Personel Ekle</h2>
<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Personel Adı</label>
        @*<input type="text" class="form-control" name="PERSONEL" />*@
        @Html.TextBoxFor(x => x.PERSONEL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PERSONEL, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-success" id="Btn1">Personel Ekle</button>
    </div>

</form>

