
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<title>İstatistik</title>
<br />
<link href="~/web2/css/style.css" rel="stylesheet" />
<script src="~/web2/js/Chart1.js"></script>
<script src="~/web2/js/jquery.min.js"></script>
<script src="~/web2/js/jquery.vmap.js"></script>
<script src="~/web2/js/jquery.vmap.sampledata.js"></script>
<script src="~/web2/js/jquery.vmap.world.js"></script>
<link href="~/web2/css/jqvmap.css" rel="stylesheet" />
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: '#333333',
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial'
        });
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48014931-1', 'codyhouse.co');
    ga('send', 'pageview');

    jQuery(document).ready(function ($) {
        $('.close-carbon-adv').on('click', function () {
            $('#carbonads-container').hide();
        });
    });
</script>
<style>
    .sales {
        background-color: #ff6a00; /* Mavi renk */
        color: #fff; /* Beyaz renk */
    }

    .new-users {
        background-color: #0094ff; /* Yeşil renk */
        color: #fff; /* Beyaz renk */
    }

    .orders {
        background-color: #808080; /* Kırmızı renk */
        color: #fff; /* Beyaz renk */
    }

    .visitors {
        background-color: #255610; /* Sarı renk */
        color: #fff; /* Beyaz renk */
    }
</style>
<div class="list_of_members">
    <div class="sales">
        <div class="icon">
            <i class="dollar"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.dgr4 ₺</h3>
            <p>Satış</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="new-users">
        <div class="icon">
            <i class="user1"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.dgr1</h3>
            <p>Toplam Üye Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="orders">
        <div class="icon">
            <i class="order"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.dgr2</h3>
            <p>Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="visitors">
        <div class="icon">
            <i class="visit"></i>
        </div>
        <div class="icon-text">
            <h3>@ViewBag.dgr3</h3>
            <p>Emnaet Kitap Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="total-sales">
    <div class="user-trends">
        <div class="alert-close7"> </div>

        <canvas id="bar" height="340" width="780"></canvas>
        <script>

            var barChartData = {
                labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temuz"],
                datasets: [
                    {
                        fillColor: "rgba(255, 137, 167, 0.78)",
                        strokeColor: "rgba(220,110,220,1)",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(140, 145, 255, 0.69)",
                        strokeColor: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]

            }

            var myLine = new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

        </script>
    </div>
    <style>
        .to-do {
            background-color: #3498db; /* Arka plan rengi - Mavi tonu */
            color: #fff; /* Metin rengi - Beyaz */
        }

        .alert-close5 {
            color: #fff; /* Kapatma butonu rengi - Beyaz */
        }

        .checkbox-form {
            /* İsterseniz checkbox formunun arka plan rengi ve diğer özellikleri burada belirlenebilir */
        }

        .checkbox label {
            color: #333; /* Checkbox etiket metni rengi - Siyah veya dilediğiniz bir renk */
        }
    </style>

    <div class="to-do">
        <div class="alert-close5"> </div>
        <h3>Yapılacak Listesi</h3>
        <div class="checkbox-form">
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Yayınevini ara</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Kitapları kontrol et</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Mesai bitiminde Z raporu al</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Hafta sonu çalışması</label>
            </div>
            <div class="check">
                <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Su iç</label>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="total-world">
    <div class="world-map">
        <div class="alert-close6"> </div>
        <h3>Dünya Haritası</h3>
        <p><span class="color1"></span>40%<span class="color2"></span>12%<span class="color3"></span>11%<span class="color4"></span>10%<span class="color5"></span>18%</p>
        <div class="clearfix"></div>
        <div id="vmap" style="width: 600px; height: 400px;"></div>
    </div>
    <div class="site-report">
        <div class="alert-close3"> </div>
        <h3>Sistem Raporları</h3>
        <div class="skills-top">
            <h5>Memnuniyet</h5>
            <h4>96%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill" style="width:%96"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Güvenilirlik</h5>
            <h4>89%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill1" style="width:89"></div>
            </div>
        </div>
        <div class="skills-top">
            <h5>Aylık Geri Dönüş</h5>
            <h4>86%</h4>
            <div class="clearfix"></div>
            <div class="skills">
                <div class="skill2" style="width:%0"></div>
            </div>
        </div>
        <p>Kütüphane Yönetim-Bilgi Sistemindesiniz. Sistem umarım hoşunuza gitmiştir. Bizler ve sistem sizlere iyi okumalar diler.</p>
    </div>
    <div class="clearfix"></div>
</div>

